body {
	background-color: #2d2d2d;
}

canvas {
    max-width: 90vmin;
    min-width: 90vmin;
    max-height: 90vmin;
    min-height: 90vmin;
    image-rendering: auto;

    padding: 0;
    margin: auto;
    display: block;

}


img {
    max-width: 19vmin;
    min-width: 19vmin;
    max-height: 19vmin;
    min-height: 19vmin;
}
